@model PaginatedList<Mind>
@{
    ViewData["Title"] = "Index";
    int order = (Model.PageIndex - 1) * Model.PageSize;
}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Minds</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Text</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mind in Model.Items)
                    {
                        <tr>
                            <td>@mind.Id</td>
                            @if (mind.AppUser == null)
                            {
                                <td>User Not Found</td>
                            }
                            else
                            {
                                <td>@mind.AppUser.FullName</td>
                            }
                            <td>@mind.Email</td>
                            <td>@mind.CreatedAt.ToString("dd,MMMM,yyyy")</td>
                            <td>@mind.Subject</td>
                            <td>@mind.Text</td>
                            <td>
                                <a asp-action="message" asp-route-id="@mind.Id" class="btn btn-primary">
                                    Message
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">

                    @if (Model.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }

                    @if (Model.TotalPages <= 5)
                    {
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                    else
                    {
                        @if (Model.PageIndex <= 3)
                        {
                            @for (int i = 1; i <= 5; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else if (Model.PageIndex >= Model.TotalPages - 2)
                        {
                            @for (int i = Model.TotalPages - 4; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            @for (int i = Model.PageIndex - 2; i <= Model.PageIndex + 2; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                    }

                    @if (Model.PageIndex < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex+1)">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

</div>