@model PaginatedList<Application>
@{
    ViewData["Title"] = "Index";
    int order = (Model.PageIndex - 1) * Model.PageSize;
}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Applications</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">courseName</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var app in Model.Items)
                    {
                        <tr>
                            <td>@(++order)</td>
                            <td>@(app.AppUser == null ? $"{app.FullName}" : app.AppUser.FullName)</td>
                            <td>@app.CreatedAt.ToString("dd MMMM yyyy")</td>
                            <td>@app.Status</td>
                            <td><a asp-action="coursedetail" asp-route-id="@app.Course.Id">@app.Course.Name</a></td>
                            <td>
                                @if (app.Status == Models.Enum.ApplicationStatus.Rejected)
                                {
                                    <form method="post" asp-action="accept">
                                        <input type="hidden" name="id" value="@app.Id" />
                                        <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                }
                                else if (app.Status == Models.Enum.ApplicationStatus.Accepted)
                                {
                                    <form method="post" asp-action="reject">
                                        <input type="hidden" name="id" value="@app.Id" />
                                        <button type="submit" class="btn btn-danger">Reject</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-action="accept">
                                        <input type="hidden" name="id" value="@app.Id" />
                                        <button type="submit" class="btn btn-success">Accept</button>
                                    </form>
                                    <form method="post" asp-action="reject">
                                        <input type="hidden" name="id" value="@app.Id" />
                                        <button type="submit" class="btn btn-danger">Reject</button>
                                    </form>

                                }
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">

                    @if (Model.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    }

                    @if (Model.TotalPages <= 5)
                    {
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                <a class="page-link" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                    else
                    {
                        @if (Model.PageIndex <= 3)
                        {
                            @for (int i = 1; i <= 5; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else if (Model.PageIndex >= Model.TotalPages - 2)
                        {
                            @for (int i = Model.TotalPages - 4; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            @for (int i = Model.PageIndex - 2; i <= Model.PageIndex + 2; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                    }

                    @if (Model.PageIndex < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.PageIndex+1)">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

</div>