@inject LayoutService layoutService
@{
    var settings = layoutService.GetSettings();

}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/et-line-icon.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<style>
    .search-result {
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .search-result:hover {
            background-color: white;
        }

        .search-result img {
            width: 60px;
            height: 60px;
            margin-right: 10px;
            border-radius: 5px;
        }

        .search-result a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
</style>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header Area Start -->
    <header class="top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>HAVE ANY QUESTION ?  @settings["SupportPhone"]</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-right text-right">
                            <ul>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("member"))
                                {
                                    <li><a asp-action="profile" asp-controller="account" class="font-weight-bold">@User.Identity.Name</a></li>

                                    <li><a asp-action="logout" asp-controller="account">Log out</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="login" asp-controller="account" class="font-weight-bold">Login</a></li>

                                    <span>or</span>
                                    <li><a asp-action="register" asp-controller="account">Sign Up</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-area two header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="logo">
                            <a href="index.html"><img src="~/img/logo/@settings["HeaderLogo"]" alt="eduhome" /></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-6">
                        <div class="content-wrapper text-right">
                            <!-- Main Menu Start -->
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-action="index" asp-controller="home">Home</a>

                                        </li>
                                        <li><a asp-action="index" asp-controller="about">About</a></li>
                                        <li>
                                            <a asp-action="index" asp-controller="course">courses</a>

                                        </li>
                                        <li>
                                            <a asp-action="index" asp-controller="event">event</a>

                                        </li>
                                        <li class="hidden-sm">
                                            <a asp-action="index" asp-controller="teacher">teacher</a>

                                        </li>

                                        <li><a asp-action="index" asp-controller="contact">Contact</a></li>

                                    </ul>
                                </nav>
                            </div>
                            <!--Search Form Start-->
                            <div class="search-btn">
                                <ul data-toggle="dropdown" class="header-search search-toggle">
                                    <li class="search-menu">
                                        <i class="fa fa-search"></i>
                                    </li>
                                </ul>
                                <div class="search">
                                    <div class="search-form">
                                        <form id="searchItem">
                                            <input style="" id="searched" type="search" placeholder="search..." name="search" />
                                        </form>
                                        <div id="searchD">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()
    <!-- Footer Start -->
    <footer class="footer-area">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-widget pr-60">
                            <div class="footer-logo pb-25">
                                <a href="index.html"><img src="~/img/logo/@settings["FooterLogo"]" alt="eduhome"></a>
                            </div>
                            <p>@settings["Desc"] </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                    <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>information</h3>
                            <ul>
                                <li><a href="#">addmission</a></li>
                                <li><a href="#">Academic Calender</a></li>
                                <li><a asp-action="index" asp-controller="event">Event List</a></li>
                                <li><a href="#">Hostel &amp; Dinning</a></li>
                                <li><a href="#">TimeTable</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>useful links</h3>
                            <ul>
                                <li><a asp-action="index" asp-controller="course">our courses</a></li>
                                <li><a href="about.html">about us</a></li>
                                <li><a asp-action="index" asp-controller="teacher">teachers &amp; faculty</a></li>
                                <li><a href="#">teams &amp; conditions</a></li>
                                <li><a asp-action="index" asp-controller="event">our events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>get in touch</h3>
                            <p>Your address goes here, Street<br>@settings["Address"]</p>
                            <p>@settings["SupportPhone"]<br>@settings["Phone"]</p>
                            <p>info@eduhome.com<br>www.eduhome.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright © <a href="https://devitems.com/" target="_blank">HasTech</a> 2017. All Right Reserved By Hastech.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <script src="~js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~js/bootstrap.min.js"></script>
    <script src="~js/jquery.meanmenu.js"></script>
    <script src="~js/jquery.magnific-popup.js"></script>
    <script src="~js/ajax-mail.js"></script>
    <script src="~js/owl.carousel.min.js"></script>
    <script src="~js/jquery.mb.YTPlayer.js"></script>
    <script src="~js/jquery.nicescroll.min.js"></script>
    <script src="~js/plugins.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>

    <script src="~js/main.js"></script>
    <script src="~/js/user.js"></script>
    @RenderSection("elmm", required: false)
</body>

</html>

<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/hub")
        .build();

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    connection.on("CourseAccepted", (date) => {
        
        toastr["success"](`${date} bu tarixli course accept olundu`);
    });

    connection.on("CourseRejected", (date) => {
        toastr["error"](`${date} bu tarixli course reject olundu`);
    });

    connection.start().catch(function (err) {
        console.error(err.toString());
    });
</script>